#card-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#card {
    position: relative;
    width: 600px;
    height: 300px;
    background-color: #deecff;
    padding: 15px;
    -webkit-box-shadow: 4px 4px 0px -1px #c6cfff; 
    box-shadow: 4px 4px 0px -1px #c6cfff;
}

form {
    display: flex;
    font-size: 24px;
}

form input[type='text'] {
    width: 100%;
    font-size: 22px;
    font-family: 'Quicksand', 'serif';
}

form > * {
    margin-right: 5px;
}

#stats {
    display: flex;
    position: absolute;
    bottom: 0;
}

#stats > * {
    margin-right: 25px;
}

#randomize {
    font-size: 18px;
    height: 30px;
    width: 30px;
}