button {
    width: 100px;
    height: 100px;
    background-color: #1e3799;
    border: none;
    font-family: 'Quicksand', 'serif';
    color: white;
}

button:hover {
    background-color: #4a69bd;
}

button:active {
    background-color: #6a89cc;
}

#sidebar {
    height: 100px;
    min-width: 300px;
    width: 100%;
    background-color: #1e3799;
}

#dropdown {
    background-color: #deecff;
    -webkit-box-shadow: 4px 4px 0px -1px #c6cfff; 
    box-shadow: 4px 4px 0px -1px #c6cfff;
    padding: 15px;
}

/*
Responsive
*/
@media only screen and (min-width: 768px) {
    #sidebar-root {
        display: flex;
    }

    #sidebar {
        min-width: 100px;
        max-width: 100px;
        height: 100vh;
    }

    button {
        width: 100%;
    }

    #dropdown {
        width: 200px;
        margin-right: 20px;
    }
  }