.row {
  width: 100%;
}

.section-1 {
  width: 100%;
}

.section-2 {
  width: 100%;
}

/*
Responsive
*/
@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    height: 100vh;
  }
  
  .section-1 {
    width: auto;
  }
  
  .section-2 {
    width: 100%;
  }
}